<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ShoppingCart_With_JDBC_Servlets</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>applicationName</param-name>
    <param-value>Tek-Group LLC</param-value>
  </context-param>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>Dashbord</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.controller.RegistrationServlet</servlet-class>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>Dashbord</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registrationPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddItems</servlet-name>
    <servlet-class>com.controller.AddItemsServlet</servlet-class>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>Dashbord</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItems</servlet-name>
    <url-pattern>/addItemsPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>placeOrder</servlet-name>
    <servlet-class>com.controller.OrderServlet</servlet-class>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>Dashbord</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeOrder</servlet-name>
    <url-pattern>/placeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>com.controller.EditServlet</servlet-class>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>Dashbord</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/editPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Remove</servlet-name>
    <servlet-class>com.controller.RemoveOrderServlet</servlet-class>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>Dashbord</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/removeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.controller.CheckOutServlet</servlet-class>
    <init-param>
      <param-name>servletName</param-name>
      <param-value>Dashbord</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/checkOut</url-pattern>
  </servlet-mapping>
</web-app>